<!DOCTYPE html>
<html>
<head>
    <title>Climate Action - P2</title>
    <link rel="stylesheet" type="text/css" href="../static/styles/style.css" />
    <link rel="stylesheet" type="text/css"href="../static/styles/picker-dark.css" >

</head>
<body class="chs">
    <div class='main'>
        <h1>Charleston, SC</h1>
        <h2 class="newDate">Date: </h2>
        <div class="climate-data">
            <div class="past">
                <h3>Past</h3>
            </div>
            <div class="future">
                <h3>Future</h3>
            </div>
        </div>
        <div class="chart">

        </div>


    </div>
    <script>
    </script>

    <script src="../static/custom.js"></script>
    <script src="../static/datepicker.js"></script>

</body>
</html>