<!DOCTYPE html>
<html>
<head>
    <title>Climate Action - P2</title>
    <link rel="stylesheet" type="text/css" href="../static/styles/style.css" />
    <link rel="stylesheet" type="text/css"href="../static/styles/picker-dark.css" >

</head>
<body class="chs">
    <div class='main'>
        <h1>Charleston, SC</h1>
        <h3 class="newDate">Date: </h3>
        <div class="climate-data">
            <!-- <div class="past">
                <h3>Past</h3>
            </div>
            <div class="future">
                <h3>Future</h3>
            </div> -->
        </div>
        <h2>What's your temperature?</h2>
        <div class="submain">
            <div class="chart">
                    <div class="temp 1">I'm cool!</div>
                    <div class="temp 2">Little Hot...</div>
                    <div class="temp 3">Hot.</div>
                    <div class="temp 4">Dripping!</div>
                    <div class="temp 5">!! Danger Zone !!</div>
            </div>
            <div class="chart-img">
                <div class="temp-img"></div>
            </div>
        </div>
        <!-- <div class="chart">
            <div>The Extreme Danger Zone: <span>108 to 110</span></div>
            <div>The Danger Zone: <span>98 to 106</span></div>
            <div>The Extreme Caution Zone: <span>90 to 96</span></div>
            <div>The Caution Zone: <span>80 to 88</span></div>
        </div> -->




    </div>
    <script>
    </script>

    <script src="../static/custom.js"></script>
    <script src="../static/datepicker.js"></script>

</body>
</html>